table#datatablesSimple
    thead
        tr
            th Name
            th Phone
            //- th Age
            th Sex
            th Address
            th Area
    tbody
        //- tr
        //-     td Timm Jason
        //-     td 623-231-6313
        //-     td 48
        //-     td Male
        //-     td 37 Electric Lake Rd
        //-     td Richmond
        //- tr
        //-     td Garrett Winters
        //-     td 231-938-6313
        //-     td 63
        //-     td Male
        //-     td 1762 Haaglund Rd
        //-     td Burnaby
        //- tr
        //-     td Samson Li
        //-     td 604-231-6313
        //-     td 33
        //-     td Male
        //-     td 3138 Old Spallumcheen Rd
        //-     td Burnaby
        //- tr
        //-     td Ismael G. Timm
        //-     td 250-661-7213
        //-     td 63
        //-     td Male
        //-     td 1762 Haaglund Rd
        //-     td Burnaby
        //- tr
        //-     td Tiger Nixon
        //-     td 604-231-6313
        //-     td 38
        //-     td Male
        //-     td 37 Tchesinkut Lake Rd
        //-     td Richmond
        //- tr
        //-     td Garrett Winters
        //-     td 231-938-6313
        //-     td 63
        //-     td Male
        //-     td 1762 Haaglund Rd
        //-     td Burnaby
        //- tr
        //-     td Samson Li
        //-     td 604-231-6313
        //-     td 33
        //-     td Male
        //-     td 3138 Old Spallumcheen Rd
        //-     td Burnaby
        //- tr
        //-     td Winters G. Timm
        //-     td 250-661-7213
        //-     td 63
        //-     td Male
        //-     td 1762 Haaglund Rd
        //-     td Burnaby
        //- tr
        //-     td Tiger Garrett
        //-     td 604-231-6313
        //-     td 38
        //-     td Male
        //-     td 37 Tchesinkut Lake Rd
        //-     td Richmond
        //- tr
        //-     td Garrett Winters
        //-     td 231-938-6313
        //-     td 63
        //-     td Male
        //-     td 1762 Haaglund Rd
        //-     td Burnaby
        //- tr
        //-     td Winters A. Duvall
        //-     td 604-231-6313
        //-     td 33
        //-     td Male
        //-     td 3138 Old Spallumcheen Rd
        //-     td Burnaby
        //- tr
        //-     td Duvall G. Timm
        //-     td 250-661-7213
        //-     td 63
        //-     td Male
        //-     td 1762 Haaglund Rd
        //-     td Richmond
    tfoot
        tr
            th Name
            th Phone
            //- th Age
            th Sex
            th Address
            th Area