table#datatablesSimple
    thead
        tr
            th Account
            th Name
            th Address
            th City
            th Postal Code
    tbody
        tr
            td 224352
            td North Shore Alliance Church
            td 201 E 23 Street
            td North Vancouver
            td V7L3E4
        tr
            td 234773
            td Children's Family House Society BC -Ronald McDonald House Vancouver
            td 4567 Heather St
            td Vancouver
            td V5Z0C9
        tr
            td 238840
            td Watari Research Association
            td 200 - 678 E Hastings St
            td Vancouver
            td V6A1R1
        tr
            td 238949
            td Xolhemet Transition House SocietySardis BC
            td PO Box 25
            td Sardis
            td V2R1A5
        tr
            td 247445
            td W I N G S Fellowship Ministries
            td 501 - 104  1015 Columbia St
            td New Westminster
            td V3M6V3
        tr
            td 249227
            td Capilano Community Services Society
            td Delbrook Community Ctr North600 West Queens Road
            td North Vancouver
            td V7N2L3
        tr
            td 4319232
            td W I N G S Fellowship Ministries
            td 501 - 104  1015 Columbia St
            td New Westminster
            td V3M6V3
        tr
            td 5648225
            td Seabird Island Band
            td PO Box 6502895 Chowat Road
            td Agassiz
            td V0M1A0
        tr
            td 5648985
            td 211 British Columbia Services Society
            td 330-111  Hastings St W
            td Vancouver
            td V6B1H4
        tr
            td 5649512
            td North Shore Neighbourhood House
            td 225 2 St E
            td North Vancouver
            td V7L1C4
        tr
            td 5845979
            td School District 41 - Burnaby
            td 5325 Kincaid Street
            td Burnaby
            td V5G1W2
        tr
            td 5846076
            td School District 43 - Coquitlam
            td 550 Poirier Street
            td Coquitlam
            td V3J6A7
        tr
            td 5846167
            td School District 39 - Vancouver
            td 1580 West Broadway
            td Vancouver
            td V6J5K8
        tr
            td 5846175
            td School District 40 - New Westminster
            td 811 Ontario Street
            td New Westminster
            td V3M0J7
        tr
            td 5870738
            td School District 36 - Surrey
            td 14033  92 Ave
            td Surrey
            td V3V0B7
        tr
            td 5990619
            td School District 37 - Delta
            td 4585 Harvest Drive
            td Delta
            td V4K5B4
        tr
            td 6017495
            td School District 42 - Maple Ridge /Pitt Meadows
            td 22225 Brown Avenue
            td Maple Ridge
            td V2X8N6
        tr
            td 6055214
            td Ray-Cam Community Association
            td 920 E Hastings St
            td Vancouver
            td V6A3T1
        tr
            td 6148423
            td Touchstone Family Association
            td 120 - 6411 Buswell St
            td Richmond
            td V6Y2G5
        tr
            td 6409775
            td HR MacMillan Space Centre - PacificSpace Centre Society
            td 1100 Chestnut Street
            td Vancouver
            td V6J3J9
        tr
            td 6442560
            td School District 46 - Sunshine Coast
            td PO Box 220
            td Gibsons
            td V0N1V0
        tr
            td 6442651
            td Fraser Region Aboriginal FriendshipCentre Association
            td A101 - 10095 Whalley Boulevard
            td Surrey
            td V3T4G1
        tr
            td 6668768
            td North Vancouver Community Arts Council
            td 335 Lonsdale Ave
            td North Vancouver
            td V7M2G3
        tr
            td 6809719
            td UMOJA Operation Compassion Society
            td 208 - 14888 104 Ave
            td Surrey
            td V3R1M4
        tr
            td 6812424
            td Vancouver Foundation
            td 200 - 475 W Georgia St
            td Vancouver
            td V6B4M9
        tr
            td 7107667
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7157514
            td Ray-Cam Community Association
            td 920 E Hastings St
            td Vancouver
            td V6A3T1
        tr
            td 7157571
            td Kiwassa Neighbourhood ServicesAssociation
            td 2425 Oxford St
            td Vancouver
            td V5K1M7
        tr
            td 7158074
            td Big Brothers & Big Sisters - Langley
            td 201 20538 Fraser HwyBox 3052
            td Langley
            td V3A4R3
        tr
            td 7167158
            td Frontier College
            td 35 Jackes Avenue
            td Toronto
            td M4T1E2

        tr
            td 7172299
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7172307
            td Red Fox Healthy Living Society
            td 500 - 610 Main St
            td Vancouver
            td V6A2V3
        tr
            td 7173966
            td Burnaby Neighbourhood HouseSociety
            td 4460 Beresford St
            td Burnaby
            td V5H0B8
        tr
            td 7173982
            td School District 36 - Surrey
            td 14033  92 Ave
            td Surrey
            td V3V0B7
        tr
            td 7202021
            td Southern Stl'atl'imx Charitable Society
            td 200 - 100 Park Royal South
            td West Vancouver
            td V7A1A2
        tr
            td 7244882
            td School District 35 - Langley
            td Attn Employee Chair United Way4875 - 222 St
            td Langley
            td V3A3Z7
        tr
            td 7245905
            td School District 38 - Richmond
            td 7811 Granville Avenue
            td Richmond
            td V6Y3E3
        tr
            td 7250665
            td School District 44 - North Vancouver
            td 2121 Lonsdale Ave
            td North Vancouver
            td V7M2K6

        tr
            td 7421464
            td Washington Kids Foundation
            td 108B - 245 Fell Ave
            td North Vancouver
            td V7P2K1

        tr
            td 7468366
            td Frontier College
            td 35 Jackes Avenue
            td Toronto
            td M4T1E2
        tr
            td 7501257
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7501349
            td Boys & Girls Clubs of South Coast BC
            td 2875 St George St
            td Vancouver
            td V5T3R8
        tr
            td 7501356
            td Boys & Girls Clubs of South Coast BC
            td 2875 St George St
            td Vancouver
            td V5T3R8
        tr
            td 7501802
            td Alexandra Neighbourhood House
            td 2916 McBride Avenue
            td Surrey
            td V4A3G2
        tr
            td 7501844
            td Kateslem Youth Society
            td 2194 Sunnyside Road
            td Anmore
            td V3H4Y4
        tr
            td 7501901
            td Big Brothers & Big Sisters - Langley
            td 201 20538 Fraser HwyBox 3052
            td Langley
            td V3A4R3
        tr
            td 7501919
            td Options Community Services Society
            td 9815 - 140th St
            td Surrey
            td V3T4M4
        tr
            td 7501927
            td Downtown Eastside Neighbourhood HouseSociety
            td 408 - 533 E Hastings St
            td Vancouver
            td V6A1P9
        tr
            td 7501968
            td Capilano Community Services Society
            td Delbrook Community Ctr North600 West Queens Road
            td North Vancouver
            td V7N2L3
        tr
            td 7501984
            td Richmond Addiction Services Society
            td 105-8080 Andreson Road
            td Richmond
            td V6Y0J5
        tr
            td 7501992
            td Family Services of Greater Vancouver
            td 201-1638 Broadway E
            td Vancouver
            td V5N1W1
        tr
            td 7502016
            td Friend 2 Friend Social Learning Society
            td 596 Blueridge Avenue
            td North Vancouver
            td V7R2J2
        tr
            td 7502032
            td Societe Place Maillardville Society
            td 1200 Cartier Ave
            td Coquitlam
            td V3K2C3
        tr
            td 7502081
            td Red Fox Healthy Living Society
            td 500 - 610 Main St
            td Vancouver
            td V6A2V3
        tr
            td 7502099
            td Red Fox Healthy Living Society
            td 500 - 610 Main St
            td Vancouver
            td V6A2V3
        tr
            td 7502206
            td Kiwassa Neighbourhood ServicesAssociation
            td 2425 Oxford St
            td Vancouver
            td V5K1M7
        tr
            td 7502214
            td Burnaby Neighbourhood HouseSociety
            td 4460 Beresford St
            td Burnaby
            td V5H0B8
        tr
            td 7502222
            td Frontier College
            td 35 Jackes Avenue
            td Toronto
            td M4T1E2
        tr
            td 7502420
            td Ray-Cam Community Association
            td 920 E Hastings St
            td Vancouver
            td V6A3T1

        tr
            td 7502537
            td Canada SCORES Vancouver - A CharitableSociety
            td 3023 - 3713 Kensington Ave
            td Burnaby
            td V5B0A7
        tr
            td 7502578
            td UMOJA Operation Compassion Society
            td 208 - 14888 104 Ave
            td Surrey
            td V3R1M4
        tr
            td 7502586
            td Little Mountain Neighbourhood HouseSociety
            td 3981 Main Street
            td Vancouver
            td V5V3P3
        tr
            td 7502735
            td Washington Kids Foundation
            td 108B - 245 Fell Ave
            td North Vancouver
            td V7P2K1
        tr
            td 7502750
            td Touchstone Family Association
            td 120 - 6411 Buswell St
            td Richmond
            td V6Y2G5
        tr
            td 7504665
            td SFU - Simon Fraser University
            td 8888 University Dr  
            td Burnaby
            td V5A1S6
        tr
            td 7505019
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7505340
            td School District 46 - Sunshine Coast
            td PO Box 220
            td Gibsons
            td V0N1V0
        tr
            td 7506611
            td Seabird Island Band
            td PO Box 6502895 Chowat Road
            td Agassiz
            td V0M1A0
        tr
            td 7507031
            td Frontier College
            td 35 Jackes Avenue
            td Toronto
            td M4T1E2
        tr
            td 7507064
            td Encompass Support ServicesSociety
            td 103 - 20230 64th Avenue
            td Langley
            td V2Y1N3
        tr
            td 7507437
            td DIVERSEcity Community Resources Society
            td 13455 76 Avenue
            td Surrey
            td V3W2W3
        tr
            td 7513500
            td Canada SCORES Vancouver - A CharitableSociety
            td 3023 - 3713 Kensington Ave
            td Burnaby
            td V5B0A7
        tr
            td 7513559
            td Chilliwack Community Services
            td 45938 Wellington Avenue
            td Chilliwack
            td V2P2C7
        tr
            td 7514151
            td YMCA of Greater Vancouver
            td 10 - 620 Royal Ave
            td New Westminster
            td V3M1J2
        tr
            td 7519549
            td Chilliwack Community Services
            td 45938 Wellington Avenue
            td Chilliwack
            td V2P2C7
        tr
            td 7519556
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7519564
            td Mission Community Services Society
            td 33179 - 2nd Avenue
            td Mission
            td V2V1J9
        tr
            td 7520117
            td KidSafe Project Society
            td 201 - 211 E Georgia St
            td Vancouver
            td V6A1Z6
        tr
            td 7520133
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7520273
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7520331
            td Community First Foundation
            td 102 - 370 Esplanade E
            td North Vancouver
            td V7L1A4
        tr
            td 7520497
            td Pacific Community Church
            td 5337 - 180th Street
            td Surrey
            td V3S4K5
        tr
            td 7520562
            td Burnaby Neighbourhood HouseSociety
            td 4460 Beresford St
            td Burnaby
            td V5H0B8
        tr
            td 7520570
            td Sources Community Resources Society
            td 882 Maple Street
            td White Rock
            td V4B4M2
        tr
            td 7520604
            td Gordon Neighbourhood House
            td 1019 Broughton Street
            td Vancouver
            td V6G2A7
        tr
            td 7520638
            td DRS Earthwise Society
            td 6400 3rd Avenue
            td Delta
            td V4K1B1
        tr
            td 7520646
            td Collingwood Neighbourhood House
            td 5288 Joyce Street
            td Vancouver
            td V5R6C9
        tr
            td 7520786
            td School District 37 - Delta
            td 4585 Harvest Drive
            td Delta
            td V4K5B4
        tr
            td 7520935
            td Kiwassa Neighbourhood ServicesAssociation
            td 2425 Oxford St
            td Vancouver
            td V5K1M7
        tr
            td 7521107
            td Pacific Community Church
            td 5337 - 180th Street
            td Surrey
            td V3S4K5
        tr
            td 7521115
            td Growing Chefs Society
            td 230 - 111 W Hastings St
            td Vancouver
            td V6B1H4
        tr
            td 7521123
            td School District 36 - Surrey
            td 14033  92 Ave
            td Surrey
            td V3V0B7

        tr
            td 7521487
            td Westcoast Family Centres Society
            td 220 - 2010 East 48th Avenue
            td Vancouver
            td V5P1R8
        tr
            td 7522022
            td Chilliwack Community Services
            td 45938 Wellington Avenue
            td Chilliwack
            td V2P2C7
        tr
            td 7522303
            td School District 42 - Maple Ridge /Pitt Meadows
            td 22225 Brown Avenue
            td Maple Ridge
            td V2X8N6
        tr
            td 7522352
            td Compassionate Neighbourhood HealthPartners
            td 46629 Ramona Drive
            td Chilliwack
            td V2P7W6

        tr
            td 7523749
            td Maple Ridge / Pitt Meadows CommunityServices
            td 22718 Lougheed Highway
            td Maple Ridge
            td V2X2V6
        tr
            td 7523756
            td Richmond Family Place Society
            td Debeck House8660 Ash Street
            td Richmond
            td V6Y2S3
        tr
            td 7523939
            td Big Brothers & Big Sisters - Langley
            td 201 20538 Fraser HwyBox 3052
            td Langley
            td V3A4R3
        tr
            td 7524788
            td Vancouver Aboriginal Friendship CentreSociety
            td 1607 East Hastings Street
            td Vancouver
            td V5L1S7
        tr
            td 7524846
            td House of Omeed
            td 230 - 3355 North Road
            td Burnaby
            td V3J7T9

        tr
            td 7524911
            td Kiwassa Neighbourhood ServicesAssociation
            td 2425 Oxford St
            td Vancouver
            td V5K1M7
        tr
            td 7524952
            td Community First Foundation
            td 102 - 370 Esplanade E
            td North Vancouver
            td V7L1A4
        tr
            td 7524994
            td Langley Environmental Partners Society
            td 4914 - 221st Street
            td Langley
            td V3A3Z8
        tr
            td 7525025
            td Low Entropy Foundation
            td 1511 Eagle Mountain Drive
            td Coquitlam
            td V3E2Y6
        tr
            td 7525041
            td Vancouver Venture for Diversity Society
            td 909 - 945 Marine Dr
            td West Vancouver
            td V7T1A8
        tr
            td 7525090
            td Langley School District Foundation
            td 4875 - 222nd Street
            td Langley
            td V3A3Z7
        tr
            td 7525116
            td DIVERSEcity Community Resources Society
            td 13455 76 Avenue
            td Surrey
            td V3W2W3
        tr
            td 7525173
            td Pacific Community Church
            td 5337 - 180th Street
            td Surrey
            td V3S4K5
        tr
            td 7525181
            td Alexandra Neighbourhood House
            td 2916 McBride Avenue
            td Surrey
            td V4A3G2
        tr
            td 7525223
            td PACE - Providing AlternativesCounselling & Education Society
            td 148 Hastings St W
            td Vancouver
            td V6B1G8
        tr
            td 7525280
            td Hope Action Values Ethics CulinaryTraining Society
            td 374 Powell Street
            td Vancouver
            td V6A1G4
        tr
            td 7525306
            td Downtown Eastside Neighbourhood HouseSociety
            td 408 - 533 E Hastings St
            td Vancouver
            td V6A1P9

        tr
            td 7525355
            td Union Gospel Mission
            td PO Box 2546
            td Vancouver
            td V6B3W8
        tr
            td 7525363
            td MOSAIC
            td 5575 Boundary Rd
            td Vancouver
            td V5R2P9
        tr
            td 7525371
            td Mom to Mom Child Poverty InitiativeSociety
            td 500 - 610 Main St
            td Vancouver
            td V6A2V3
        tr
            td 7525462
            td Mission Community Services Society
            td 33179 - 2nd Avenue
            td Mission
            td V2V1J9
        tr
            td 7525470
            td Mount Pleasant Neighbourhood House
            td 800 Broadway E
            td Vancouver
            td V5T1Y1
        tr
            td 7525520
            td Richmond Family Place Society
            td Debeck House8660 Ash Street
            td Richmond
            td V6Y2S3

        tr
            td 7525611
            td Westcoast Family Centres Society
            td 220 - 2010 East 48th Avenue
            td Vancouver
            td V5P1R8
        tr
            td 7525629
            td School District 35 - Langley
            td Attn Employee Chair United Way4875 - 222 St
            td Langley
            td V3A3Z7
        tr
            td 7525637
            td Encompass Support ServicesSociety
            td 103 - 20230 64th Avenue
            td Langley
            td V2Y1N3
        tr
            td 7525876
            td School District 46 - Sunshine Coast
            td PO Box 220
            td Gibsons
            td V0N1V0
        tr
            td 7525991
            td Hope & Area Transition Society
            td PO Box 1761
            td Hope
            td V0X1L0
        tr
            td 7526056
            td School District 38 - Richmond
            td 7811 Granville Avenue
            td Richmond
            td V6Y3E3
        tr
            td 7526098
            td Down Syndrome Research Foundation &Resource Centre
            td 1409 Sperling Avenue
            td Burnaby
            td V5B4J8
        tr
            td 7526114
            td School District 43 - Coquitlam
            td 550 Poirier Street
            td Coquitlam
            td V3J6A7
        tr
            td 7526122
            td MOSAIC
            td 5575 Boundary Rd
            td Vancouver
            td V5R2P9
        tr
            td 7526189
            td Food Stash Foundation
            td 4653 Drummond Drive
            td Vancouver
            td V6R1E8

        tr
            td 7526338
            td DIVERSEcity Community Resources Society
            td 13455 76 Avenue
            td Surrey
            td V3W2W3
        tr
            td 7526353
            td Learning Disabilities Society of GreaterVancouver
            td 3292 E Broadway
            td Vancouver
            td V5M1Z8
        tr
            td 7526403
            td Access Youth Outreach Services Society
            td 6 - 2601 Lougheed Hwy
            td Coquitlam
            td V3C4J2
        tr
            td 7526445
            td House of Omeed
            td 230 - 3355 North Road
            td Burnaby
            td V3J7T9
        tr
            td 7526452
            td Westcoast Family Centres Society
            td 220 - 2010 East 48th Avenue
            td Vancouver
            td V5P1R8
        tr
            td 7526510
            td Sources Community Resources Society
            td 882 Maple Street
            td White Rock
            td V4B4M2
        tr
            td 7526593
            td Jewish Family Service Agency Vancouver
            td 320 - 2285 Clark Dr
            td Vancouver
            td V5N3G9
        tr
            td 7526619
            td St Andrew's United Church - N Vancouver
            td 1044 St Georges Avenue
            td North Vancouver
            td V7L3H6
        tr
            td 7526627
            td Protein for People
            td 314 - 68 Richmond St
            td New Westminster
            td V3L5S2
        tr
            td 7526635
            td Hope Community Services
            td PO Box 74234 Wallace Street
            td Hope
            td V0X1L0
        tr
            td 7526668
            td City of Burnaby
            td 4949 Canada Way
            td Burnaby
            td V5G1M2
        tr
            td 7526767
            td Crossroads Hospice Society - Coquitlam
            td 209 - 2773 Barnet Hwy
            td Coquitlam
            td V3B1C2
        tr
            td 7526783
            td Asian Canadian Benevolent Associatonfor the Elderly
            td 201 -- 427 Dunlevy Avenue
            td Vancouver
            td V6A3Y4
        tr
            td 7526841
            td Sunshine Coast Community ServicesSociety
            td PO Box 10695683 Inlet Avenue
            td Sechelt
            td V0N3A0
        tr
            td 7526890
            td Salvation Army - BC South Divisional HQ
            td 103 - 3833 Henning Dr
            td Burnaby
            td V5C6N5
        tr
            td 7526916
            td Lower Mainland Purpose Society forYouth and Families
            td 40 Begbie Street
            td New Westminster
            td V3M3L9
        tr
            td 7527021
            td Lower Mainland Purpose Society forYouth and Families
            td 40 Begbie Street
            td New Westminster
            td V3M3L9
        tr
            td 7527039
            td North Shore Neighbourhood House
            td 225 2 St E
            td North Vancouver
            td V7L1C4
        tr
            td 7527062
            td Burnaby Neighbourhood HouseSociety
            td 4460 Beresford St
            td Burnaby
            td V5H0B8
        tr
            td 7527112
            td Immigrant Link Centre Society
            td 403 - 206 Therrien Street
            td Coquitlam
            td V3K4T1
        tr
            td 7527138
            td EYA Environmental Youth Alliance Society
            td PO Box 34097 Station D
            td Vancouver
            td V6J4M1
        tr
            td 7527229
            td UrbanPromise Ministries
            td PO Box 66047
            td Vancouver
            td V5N5L4


        tr
            td 7527377
            td WePress Community ArtsSpace Society
            td 9 Hastings Street West
            td Vancouver
            td V6B1G4
        tr
            td 7527385
            td Mount Pleasant Neighbourhood House
            td 800 Broadway E
            td Vancouver
            td V5T1Y1
        tr
            td 7527393
            td Crisis Intervention & SuicidePrevention Centre of BC
            td 763 East Broadway
            td Vancouver
            td V5T1X8
        tr
            td 7527484
            td Tri-City Transitions Society
            td 402 - 2071 Kingsway Ave
            td Port Coquitlam
            td V3C6N2
        tr
            td 7527583
            td Stigma-Free Society
            td 520 - 885 Dunsmuir St
            td Vancouver
            td V6C1N5
        tr
            td 7527658
            td Kateslem Youth Society
            td 2194 Sunnyside Road
            td Anmore
            td V3H4Y4
        tr
            td 7527914
            td Collingwood Neighbourhood House
            td 5288 Joyce Street
            td Vancouver
            td V5R6C9
        tr
            td 7527922
            td Collingwood Neighbourhood House
            td 5288 Joyce Street
            td Vancouver
            td V5R6C9
        tr
            td 7527955
            td Horizon Church
            td 15100  66 A Ave
            td Surrey
            td V3S2A6
        tr
            td 7528003
            td Peace Portal Alliance Church
            td 15128 - 27B Avenue
            td Surrey
            td V4P1P2
        tr
            td 7528052
            td Aboriginal Mother Centre Society
            td 208 - 2019 Dundas St
            td Vancouver
            td V5L1J5
        tr
            td 7528102
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7528128
            td BC Centre for Ability Foundation
            td 2805 Kingsway
            td Vancouver
            td V5R5H9
        tr
            td 7528763
            td Youth for Christ
            td 115 - 12975  84 Ave
            td Surrey
            td V3W1B3
        tr
            td 7528789
            td Touchstone Family Association
            td 120 - 6411 Buswell St
            td Richmond
            td V6Y2G5
        tr
            td 7528797
            td Kitsilano Neighbourhood House
            td 2305 West 7th Ave
            td Vancouver
            td V6K1Y4
        tr
            td 7528847
            td Children's Organ Transplant Society
            td 8323 Fremlin Street
            td Vancouver
            td V6P3X1
        tr
            td 7528888
            td Covenant House Vancouver
            td 575 Drake Street
            td Vancouver
            td V6B4K8
        tr
            td 7528904
            td Family Services of the North Shore
            td 203 - 1111 Lonsdale Ave
            td North Vancouver
            td V7M2H4
        tr
            td 7528938
            td BC Schizophrenia Society
            td 1100 - 1200 W 73 Ave
            td Vancouver
            td V6P6G5
        tr
            td 7528995
            td Hollyburn Family Services Society
            td 210 - 255 1st St W
            td North Vancouver
            td V7M3G3
        tr
            td 7529357
            td Family Services of the North Shore
            td 203 - 1111 Lonsdale Ave
            td North Vancouver
            td V7M2H4
        tr
            td 7529373
            td Options Community Services Society
            td 9815 - 140th St
            td Surrey
            td V3T4M4
        tr
            td 7529423
            td Little Mountain Neighbourhood HouseSociety
            td 3981 Main Street
            td Vancouver
            td V5V3P3
        tr
            td 7529480
            td KidSafe Project Society
            td 201 - 211 E Georgia St
            td Vancouver
            td V6A1Z6
        tr
            td 7529522
            td John Howard Society of the LowerMainland of BC
            td 763 Kingsway
            td Vancouver
            td V5V3C2
        tr
            td 7529548
            td Children's Family House Society BC -Ronald McDonald House Vancouver
            td 4567 Heather St
            td Vancouver
            td V5Z0C9
        tr
            td 7529563
            td Alexandra Neighbourhood House
            td 2916 McBride Avenue
            td Surrey
            td V4A3G2
        tr
            td 7529589
            td African Stages Association
            td 39 - 10038 150 Street
            td Surrey
            td V3R0M8
        tr
            td 7529704
            td Kateslem Youth Society
            td 2194 Sunnyside Road
            td Anmore
            td V3H4Y4
        tr
            td 7529720
            td Meals on Wheels - Langley
            td 20414 Douglas Cres
            td Langley
            td V3A4B4
        tr
            td 7529761
            td Children's Organ Transplant Society
            td 8323 Fremlin Street
            td Vancouver
            td V6P3X1
        tr
            td 7529779
            td DRS Earthwise Society
            td 6400 3rd Avenue
            td Delta
            td V4K1B1
        tr
            td 7529795
            td South Vancouver Family Place
            td 7710 Nanaimo St
            td Vancouver
            td V5P4Y2
        tr
            td 7529878
            td Watari Research Association
            td 200 - 678 E Hastings St
            td Vancouver
            td V6A1R1

        tr
            td 7529894
            td M2/W2 Association - RestorativeChristian Ministries
            td 208 - 2825 Clearbrook Rd
            td Abbotsford
            td V2T6S3
        tr
            td 7531056
            td Helping Spirit Lodge Society
            td 3965 Dumfries Street
            td Vancouver
            td V5N5R3

        tr
            td 7531122
            td Fraser Region Community JusticeInitiatives Assoc
            td 102B - 6270  205 Street
            td Langley
            td V3A4C4
        tr
            td 7531148
            td Long-term Inmates Now in Community
            td 33270 14th Ave
            td Mission
            td V2V4Z7
        tr
            td 7531163
            td New View Society
            td 2050 Mary Hill Rd
            td Port Coquitlam
            td V3C2Z8

        tr
            td 7531221
            td Change The World Foundation
            td 1073 Roosevelt Cres
            td North Vancouver
            td V7P1M4
        tr
            td 7533326
            td Sea to Sky Community Services Society
            td 38024 Fourth Ave
            td Squamish
            td V8B0A7
        tr
            td 7533359
            td Holy Trinity Parish of New Westminster
            td 514 Carnarvon St
            td New Westminster
            td V3L1C4
        tr
            td 7533367
            td Big Brothers Big Sisters of theFraser Valley
            td 200 - 2445 W Railway St
            td Abbotsford
            td V2S2E3
        tr
            td 7533375
            td Touchstone Family Association
            td 120 - 6411 Buswell St
            td Richmond
            td V6Y2G5
        tr
            td 7533409
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7533425
            td Maple Ridge / Pitt Meadows CommunityServices
            td 22718 Lougheed Highway
            td Maple Ridge
            td V2X2V6
        tr
            td 7533482
            td Chilliwack Learning Community Society
            td 4905 Yale RdPO Box 21081
            td Chilliwack
            td V2P6T4

        tr
            td 7533557
            td Adler University Vancouver Foundation
            td 520 Seymour Street
            td Vancouver
            td V6B3J5
        tr
            td 7533599
            td Chilliwack Community Services
            td 45938 Wellington Avenue
            td Chilliwack
            td V2P2C7
        tr
            td 7533649
            td Vancouver Chinatown Foundation forCommunity Revitalization
            td 300 - 127 Pender St E
            td Vancouver
            td V6A1T6
        tr
            td 7533672
            td Chabad of Richmond
            td 200 - 4775 Blundell Rd
            td Richmond
            td V7C1H2


        tr
            td 7533821
            td Little Mountain Neighbourhood HouseSociety
            td 3981 Main Street
            td Vancouver
            td V5V3P3
        tr
            td 7533854
            td Britannia Community Services Centre
            td 1661 Napier Street
            td Vancouver
            td V5L4X4
        tr
            td 7533862
            td Britannia Community Services Centre
            td 1661 Napier Street
            td Vancouver
            td V5L4X4
        tr
            td 7533888
            td Network of Inner City CommunityServices Society
            td 200 - 739 Gore Avenue
            td Vancouver
            td V6A2Z9
        tr
            td 7533961
            td Frog Hollow Neighbourhood House
            td 2131 Renfrew St
            td Vancouver
            td V5M4M5
        tr
            td 7533979
            td Big Brothers of Greater Vancouver
            td 102 - 1193 Kingsway
            td Vancouver
            td V5V3C9
        tr
            td 7533987
            td Big Sisters of BC Lower Mainland
            td 34 East 12th Avenue
            td Vancouver
            td V5T2G5
        tr
            td 7534001
            td Yo Bro Yo Girl Youth Initiative Society
            td 810-570 Granville St
            td Vancouver
            td V6C3P1
        tr
            td 7534019
            td Dan Snook Trust Foundation
            td 311 - 815  5th Ave
            td New Westminster
            td V3M1Y1


        tr
            td 7534092
            td Sardis Doorway for Mothers & ChildrenSociety
            td 45625 South Sumas Road
            td Sardis
            td V2R4M7
        tr
            td 7534134
            td Seabird Island Band
            td PO Box 6502895 Chowat Road
            td Agassiz
            td V0M1A0
        tr
            td 7534738
            td Pacific Immigrant Resources SocietyPIRS
            td 1874 Kingsway
            td Vancouver
            td V5N4S7


        tr
            td 7534787
            td Refood Food Rescue Foundation
            td 11 - 1010 Ewen Avenue
            td New Westminster
            td V3M5C9
        tr
            td 7534795
            td Muslim Food Bank Society
            td 235 - 11590 Cambie Rd
            td Richmond
            td V6X3Z5
        tr
            td 7534829
            td Whole Way House Society
            td 310 Alexander Street
            td Vancouver
            td V3A1C3
        tr
            td 7534837
            td Community Builders Benevolence Group
            td 1060 Howe St
            td Vancouver
            td V6Z1P5
        tr
            td 7534845
            td Parish of St Augustine
            td 8680 Hudson Street
            td Vancouver
            td V6P4M5
        tr
            td 7534878
            td Khalsa Diwan Society
            td 8000 Ross Street
            td Vancouver
            td V5X4C5
        tr
            td 7534894
            td Pathways Clubhouse Society of Richmond
            td 315-8111 Granville Avenue
            td Richmond
            td V6Y1G2
        tr
            td 7534944
            td Multicultural Helping House Society
            td 4802 Fraser Street
            td Vancouver
            td V5V4H4
        tr
            td 7534951
            td Chilliwack Youth Health Centre Society
            td 46363 Yale Road
            td Chilliwack
            td V2P2P8
        tr
            td 7534977
            td Chilliwack Community Services
            td 45938 Wellington Avenue
            td Chilliwack
            td V2P2C7
        tr
            td 7534985
            td Zajac Ranch Society
            td 300 - 2006  W 10th Ave
            td Vancouver
            td V6J2B3
        tr
            td 7534993
            td AIDS Vancouver Society
            td 1101 Seymour St
            td Vancouver
            td V6B0R1
        tr
            td 7535016
            td Atira Women's Resource Society
            td 201 - 190 Alexander St
            td Vancouver
            td V6A1B5
        tr
            td 7535024
            td Downtown Eastside Women's CentreAssociation
            td 302 Columbia Street
            td Vancouver
            td V6A4J1
        tr
            td 7535032
            td Whistler Community Services Society
            td PO Box 900
            td Whistler
            td V0N1B0
        tr
            td 7535040
            td Kettle Friendship Society
            td 1725 Venables Street
            td Vancouver
            td V5L2H3
        tr
            td 7535057
            td Southern Stl'atl'imx Charitable Society
            td 200 - 100 Park Royal South
            td West Vancouver
            td V7A1A2
        tr
            td 7535065
            td Network of Inner City CommunityServices Society
            td 200 - 739 Gore Avenue
            td Vancouver
            td V6A2Z9
        tr
            td 7535073
            td Strathcona Community Centre Association
            td 601 Keefer Street
            td Vancouver
            td V6A3V8
        tr
            td 7535198
            td Boys & Girls Clubs of South Coast BC
            td 2875 St George St
            td Vancouver
            td V5T3R8
        tr
            td 7535206
            td Parent Support Services Society of BC
            td 204 - 5623 Imperial St
            td Burnaby
            td V5J1G1
        tr
            td 7535214
            td Capilano Community Services Society
            td Delbrook Community Ctr North600 West Queens Road
            td North Vancouver
            td V7N2L3
        tr
            td 7535396
            td Health & Home Care Society of BC
            td 204-3077 Granville St
            td Vancouver
            td V6H3J9
        tr
            td 7535446
            td Xolhemet Transition House SocietySardis BC
            td PO Box 25
            td Sardis
            td V2R1A5
        tr
            td 7535487
            td Richmond Food Bank Society
            td 100 - 5800 Cedarbridge Way
            td Richmond
            td V6X2A7
        tr
            td 7535578
            td National Zakat Foundation
            td 214 - 115 Matheson Blvd W
            td Mississauga
            td L5R3L1
        tr
            td 7535586
            td Lower Mainland Christmas Bureau
            td 4 - 1870 Pandora St
            td Vancouver
            td V5L1M5
        tr
            td 7535610
            td FarmFolk / CityFolk Society
            td 203 - 1661 Duranleau St
            td Vancouver
            td V6H3S3
        tr
            td 7535776
            td Posabilities Association of BC
            td 240 - 4664 Lougheed Hwy
            td Burnaby
            td V5C5T5
        tr
            td 7535826
            td Marpole Neighbourhood House
            td 8585 Hudson Street
            td Vancouver
            td V6P4M3
        tr
            td 7535933
            td City of Surrey
            td 13450 104 Ave
            td Surrey
            td V3T1V8
        tr
            td 7535941
            td Sources Community Resources Society
            td 882 Maple Street
            td White Rock
            td V4B4M2
        tr
            td 7536014
            td AOK Acts of Kindness Society
            td 23589 Old Yale Road
            td Langley
            td V2Z2K4
        tr
            td 7536170
            td Watari Research Association
            td 200 - 678 E Hastings St
            td Vancouver
            td V6A1R1
        tr
            td 7536188
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7536246
            td Washington Kids Foundation
            td 108B - 245 Fell Ave
            td North Vancouver
            td V7P2K1

        tr
            td 7536568
            td Moving Forward Family Services
            td 101 - 12827 76th Avenue
            td Surrey
            td V3W2V3
        tr
            td 7536600
            td Vancouver International Children'sFestival Society
            td 402 - 873 Beatty St
            td Vancouver
            td V6B2M6
        tr
            td 7536634
            td Salvation Army - Willows
            td 21081 72nd Ave
            td Langley
            td V2Y2R5
        tr
            td 7536675
            td Cameray Centre Community Fund
            td 201 - 5623 Imperial St
            td Burnaby
            td V5J1G1
        tr
            td 7536691
            td Focus Disability Network
            td 31920 Hillcrest Ave
            td Mission
            td V2V1K9
        tr
            td 7536758
            td Fraser Valley Foster Parent Association
            td 8366 192 St
            td Surrey
            td V4N6B3
        tr
            td 7536949
            td Greater Vancouver Food Bank Society
            td 1150 Raymur Avenue
            td Vancouver
            td V6A3T2
        tr
            td 7537004
            td Salvation Army - BC South Divisional HQ
            td 103 - 3833 Henning Dr
            td Burnaby
            td V5C6N5
        tr
            td 7537103
            td Women Against Violence Against Women -WAVAW
            td 2405 Pine StreetPO Box 46851 Station D
            td Vancouver
            td V6J5M4
        tr
            td 7537657
            td Gordon Neighbourhood House
            td 1019 Broughton Street
            td Vancouver
            td V6G2A7
        tr
            td 7537673
            td St Aidan's Presbyterian Church
            td 1320 - 7th Avenue
            td New Westminster
            td V3M2K1
        tr
            td 7537764
            td Chilliwack Community Services
            td 45938 Wellington Avenue
            td Chilliwack
            td V2P2C7
        tr
            td 7537798
            td New Heights Community Church
            td PO Box 3393
            td Mission
            td V2V4J5
        tr
            td 7537806
            td West Coast Kids Cancer Foundation
            td 306 - 9600 Cameron St
            td Burnaby
            td V3J7N3
        tr
            td 7539034
            td Yale First Nation
            td 314 Hudson Bay StreetPO Box 1869
            td Hope
            td V0X1L0
        tr
            td 7539083
            td City Dream Centre Society
            td 6788 152 Street
            td Surrey
            td V3S3L4
        tr
            td 7539117
            td Urban Indigenous Health & HealingCo-operative
            td 3356 3rd Avenue West
            td Vancouver
            td V6R1L4
        tr
            td 7539232
            td University of the Fraser Valley
            td 33844 King Rd
            td Abbotsford
            td V2S7M8
        tr
            td 7539406
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7539448
            td Servant Partners Mission Association
            td 414 Alexander Street
            td Vancouver
            td V6A1C5
        tr
            td 7539463
            td BC Lions Society for Children WithDisabilities
            td 3981 Oak Street
            td Vancouver
            td V6H4H5
        tr
            td 7539570
            td Jewish Community Centre of GreaterVancouver
            td 950 41 Ave W
            td Vancouver
            td V5Z2N7
        tr
            td 7539620
            td Union Gospel Mission
            td PO Box 2546
            td Vancouver
            td V6B3W8
        tr
            td 7539638
            td Red Fox Healthy Living Society
            td 500 - 610 Main St
            td Vancouver
            td V6A2V3
        tr
            td 7539687
            td Options Community Services Society
            td 9815 - 140th St
            td Surrey
            td V3T4M4
        tr
            td 7539778
            td School District 43 - Coquitlam
            td 550 Poirier Street
            td Coquitlam
            td V3J6A7
        tr
            td 7539786
            td DRS Earthwise Society
            td 6400 3rd Avenue
            td Delta
            td V4K1B1
        tr
            td 7539844
            td Salvation Army Boundless/VancouverFamily Services
            td 3213 Fraser Street
            td Vancouver
            td V5V4B8
        tr
            td 7539851
            td Salvation Army Boundless/VancouverFamily Services
            td 3213 Fraser Street
            td Vancouver
            td V5V4B8
        tr
            td 7539893
            td Cheakamus Foundation for EnvironmentalLearning
            td 1600 Paradise Valley Road
            td Brackendale
            td V0N1H0
        tr
            td 7539935
            td Multicultural Family Support Services -Vancouver/Lower Mainland
            td 306 - 4980 Kingsway
            td Burnaby
            td V5H4K7
        tr
            td 7539968
            td Burnaby Neighbourhood HouseSociety
            td 4460 Beresford St
            td Burnaby
            td V5H0B8
        tr
            td 7539992
            td Edo Friends of British ColumbiaAssociation
            td 13028 - 109 Avenue
            td Surrey
            td V3T2N5
        tr
            td 7540024
            td God's Gift Ministry Society
            td 9822 134th Street
            td Surrey
            td V3T1B9
        tr
            td 7540040
            td McLauren Centre for Multi-CulturalMinistries
            td PO Box 664
            td Abbotsford
            td V2T6Z8


        tr
            td 7540149
            td Watari Research Association
            td 200 - 678 E Hastings St
            td Vancouver
            td V6A1R1
        tr
            td 7540289
            td Guru Nanak Sikh Gurudwara Society
            td 7050 - 120th Street
            td Vancouver
            td V3W3M8
        tr
            td 7540339
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7540354
            td Roman Catholic Archdiocese of Vancouver
            td 150 Robson Street
            td Vancouver
            td V6B2A7
        tr
            td 7540511
            td VIP Volunteers for IntergenerationalPrograms
            td 203 - 2101 Holdom Ave
            td Burnaby
            td V5B0A4
        tr
            td 7540628
            td Easter Seal House Society
            td 3981 Oak Street
            td Vancouver
            td V6H4H5
        tr
            td 7540651
            td Watari Research Association
            td 200 - 678 E Hastings St
            td Vancouver
            td V6A1R1
        tr
            td 7540891
            td Chilliwack Bowls of Hope Society
            td 45914 Rowat Ave
            td Chilliwack
            td V2P1J3
        tr
            td 7542673
            td North Shore Alliance Church
            td 201 E 23 Street
            td North Vancouver
            td V7L3E4
        tr
            td 7542699
            td North Shore Women's Centre
            td 131 East 2nd Street
            td North Vancouver
            td V7L1C2
        tr
            td 7542707
            td Family Services of Greater Vancouver
            td 201-1638 Broadway E
            td Vancouver
            td V5N1W1
        tr
            td 7542756
            td Growing Chefs Society
            td 230 - 111 W Hastings St
            td Vancouver
            td V6B1H4


        tr
            td 7634165
            td North Shore Restorative Justice Society
            td 147 E  14 St
            td North Vancouver
            td V7L2N4
        tr
            td 7636970
            td Immigrant Link Centre Society
            td 403 - 206 Therrien Street
            td Coquitlam
            td V3K4T1
        tr
            td 7637101
            td Richmond Family Place Society
            td Debeck House8660 Ash Street
            td Richmond
            td V6Y2S3
        tr
            td 7637150
            td Pacific Immigrant Resources SocietyPIRS
            td 1874 Kingsway
            td Vancouver
            td V5N4S7
        tr
            td 7637192
            td Chilliwack Learning Community Society
            td 4905 Yale RdPO Box 21081
            td Chilliwack
            td V2P6T4
        tr
            td 7637242
            td Ann Davis Transition House Society
            td 9046 Young Rd
            td Chilliwack
            td V2P4R6
        tr
            td 7637309
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7637366
            td Launching Pad Addiction RehabilitationSociety
            td 980 - 160th Street
            td Surrey
            td V4A4W5
        tr
            td 7637374
            td Maple Ridge / Pitt Meadows CommunityServices
            td 22718 Lougheed Highway
            td Maple Ridge
            td V2X2V6

        tr
            td 7637440
            td Youth for Christ
            td 115 - 12975  84 Ave
            td Surrey
            td V3W1B3
        tr
            td 7637523
            td Sharing Farm Society
            td 2771 Westminster Hwy
            td Richmond
            td V7C1A8


        tr
            td 7637572
            td Sardis Doorway for Mothers & ChildrenSociety
            td 45625 South Sumas Road
            td Sardis
            td V2R4M7
        tr
            td 7637648
            td Ishtar Women's Resource Society
            td 101 - 6350  203rd St
            td Langley
            td V2Y1L9
        tr
            td 7637697
            td Royal Columbian Hospital Foundation
            td 330 E Columbia St
            td Burnaby
            td V3L3W7
        tr
            td 7637713
            td Squamish Helping Hands Society
            td 37930 Third AveBox 994
            td Squamish
            td V8B0A7
        tr
            td 7639305
            td North Shore Neighbourhood House
            td 225 2 St E
            td North Vancouver
            td V7L1C4
        tr
            td 7639396
            td Long-term Inmates Now in Community
            td 33270 14th Ave
            td Mission
            td V2V4Z7
        tr
            td 7639412
            td Southern Stl'atl'imx Charitable Society
            td 200 - 100 Park Royal South
            td West Vancouver
            td V7A1A2
        tr
            td 7639859
            td Community First Foundation
            td 102 - 370 Esplanade E
            td North Vancouver
            td V7L1A4
        tr
            td 7639867
            td Tenth Avenue Alliance Church
            td 11 West 10th Ave
            td Vancouver
            td V5Y1R5
        tr
            td 7639982
            td Vancouver Coastal Health Authority
            td 200 - 520 W 6 Ave
            td Vancouver
            td V5Z4H5
        tr
            td 7640006
            td Mission Community Services Society
            td 33179 - 2nd Avenue
            td Mission
            td V2V1J9
        tr
            td 7640055
            td Family Services of the North Shore
            td 203 - 1111 Lonsdale Ave
            td North Vancouver
            td V7M2H4
        tr
            td 7640188
            td Edo Friends of British ColumbiaAssociation
            td 13028 - 109 Avenue
            td Surrey
            td V3T2N5
        tr
            td 7640196
            td God's Gift Ministry Society
            td 9822 134th Street
            td Surrey
            td V3T1B9


        tr
            td 7645492
            td Lazarus Community Society
            td 208-165 West 4th Ave
            td Vancouver
            td V5Y1G4
        tr
            td 7645575
            td Low Entropy Foundation
            td 1511 Eagle Mountain Drive
            td Coquitlam
            td V3E2Y6

        tr
            td 7645690
            td Hope Action Values Ethics CulinaryTraining Society
            td 374 Powell Street
            td Vancouver
            td V6A1G4
        tr
            td 7645757
            td House of Omeed
            td 230 - 3355 North Road
            td Burnaby
            td V3J7T9
        tr
            td 7645773
            td Crisis Intervention & SuicidePrevention Centre of BC
            td 763 East Broadway
            td Vancouver
            td V5T1X8
        tr
            td 7645781
            td Touchstone Family Association
            td 120 - 6411 Buswell St
            td Richmond
            td V6Y2G5
        tr
            td 7645948
            td If National Institute of FamiliesFnd for Child & Youth Mental Health
            td 1000 - 355 Burrard St
            td Vancouver
            td V6C2G8
        tr
            td 7646136
            td Chabad of Richmond
            td 200 - 4775 Blundell Rd
            td Richmond
            td V7C1H2
        tr
            td 7646177
            td African Stages Association
            td 39 - 10038 150 Street
            td Surrey
            td V3R0M8

        tr
            td 7646805
            td Multicultural Helping House Society
            td 4802 Fraser Street
            td Vancouver
            td V5V4H4
        tr
            td 7646896
            td AIDS Vancouver Society
            td 1101 Seymour St
            td Vancouver
            td V6B0R1
        tr
            td 7647530
            td Chilliwack Youth Health Centre Society
            td 46363 Yale Road
            td Chilliwack
            td V2P2P8
        tr
            td 7647571
            td MOSAIC
            td 5575 Boundary Rd
            td Vancouver
            td V5R2P9
        tr
            td 7647928
            td Guru Nanak Sikh Gurudwara Society
            td 7050 - 120th Street
            td Vancouver
            td V3W3M8
        tr
            td 7647985
            td Lotus Light Charity Society Temple
            td 357 East Hastings Street
            td Vancouver
            td V6A1P3
        tr
            td 7648033
            td Cares Counselling and RestorationServices Society
            td 3-2630 Bourquin Cres W
            td Abbotsford
            td V2S5N7
        tr
            td 7648082
            td Kateslem Youth Society
            td 2194 Sunnyside Road
            td Anmore
            td V3H4Y4
        tr
            td 7648090
            td Kateslem Youth Society
            td 2194 Sunnyside Road
            td Anmore
            td V3H4Y4
        tr
            td 7648223
            td Fraser Valley Foster Parent Association
            td 8366 192 St
            td Surrey
            td V4N6B3
        tr
            td 7659170
            td Society for Children & Youth of BC - SCY
            td 303 - 1720 Grant St
            td Vancouver
            td V5L2Y7
        tr
            td 7659733
            td Canadian Cancer Society - BC & YukonDivision
            td 575 W 10th Ave
            td Vancouver
            td V5C4C3
        tr
            td 7659816
            td JustWork Economic Initiative
            td 1803 East 1st  Avenue
            td Vancouver
            td V5N1B2
        tr
            td 7659832
            td Cityview Baptist Church
            td 4370 Sophia Street
            td Vancouver
            td V5V3V7
        tr
            td 7679673
            td Chinese Mental Wellness Association ofCanada
            td 250-5726 Minoru Blvd
            td Richmond
            td V6X2A9
        tr
            td 7679699
            td DRS Earthwise Society
            td 6400 3rd Avenue
            td Delta
            td V4K1B1
        tr
            td 7679715
            td Washington Kids Foundation
            td 108B - 245 Fell Ave
            td North Vancouver
            td V7P2K1
        tr
            td 7679723
            td Looking Glass Foundation for EatingDisorders
            td 4116 Angus Dr
            td Vancouver
            td V6J4H9
        tr
            td 7679749
            td Canadian Mental Health Association-Vancouver - Fraser
            td 110 - 2425 Quebec St
            td Vancouver
            td V5T4L6
        tr
            td 7679848
            td Pacific Community Church
            td 5337 - 180th Street
            td Surrey
            td V3S4K5
        tr
            td 7684228
            td Camp Kerry Society
            td 145 East Columbia Street
            td New Westminster
            td V3L3W2
        tr
            td 7684236
            td WePress Community ArtsSpace Society
            td 9 Hastings Street West
            td Vancouver
            td V6B1G4
        tr
            td 7684251
            td Social Diversity for Children Foundation
            td PO BOX 97073 STN MAIN
            td Richmond
            td V6X8H3
        tr
            td 7684749
            td Refood Food Rescue Foundation
            td 11 - 1010 Ewen Avenue
            td New Westminster
            td V3M5C9

        tr
            td 7684954
            td Down Syndrome Research Foundation &Resource Centre
            td 1409 Sperling Avenue
            td Burnaby
            td V5B4J8
        tr
            td 7685423
            td Lookout Housing and Health Society
            td Administration Office544 Columbia St
            td New Westminster
            td V3L1B1
        tr
            td 7686157
            td PACE - Providing AlternativesCounselling & Education Society
            td 148 Hastings St W
            td Vancouver
            td V6B1G8
        tr
            td 7686314
            td Sources Community Resources Society
            td 882 Maple Street
            td White Rock
            td V4B4M2

        tr
            td 7686884
            td Urban Indigenous Health & HealingCo-operative
            td 3356 3rd Avenue West
            td Vancouver
            td V6R1L4
        tr
            td 7687155
            td School District 46 - Sunshine Coast
            td PO Box 220
            td Gibsons
            td V0N1V0
        tr
            td 7687262
            td Meals on Wheels - Langley
            td 20414 Douglas Cres
            td Langley
            td V3A4B4
        tr
            td 7687577
            td Family Support Institute of BC Society
            td 227 - 6th Street
            td New Westminster
            td V3L3A5
        tr
            td 7687585
            td Family Services of the North Shore
            td 203 - 1111 Lonsdale Ave
            td North Vancouver
            td V7M2H4
        tr
            td 7688039
            td Easter Seal House Society
            td 3981 Oak Street
            td Vancouver
            td V6H4H5
        tr
            td 7688294
            td KidSafe Project Society
            td 201 - 211 E Georgia St
            td Vancouver
            td V6A1Z6
        tr
            td 7688344
            td SARA for Women
            td PO Box 3044
            td Mission
            td V2V4J3
        tr
            td 7688393
            td Arts in Action Society
            td PO Box 57145 E Hastings
            td Vancouver
            td V5K5G6
        tr
            td 7688419
            td Learning Disabilities Society of GreaterVancouver
            td 3292 E Broadway
            td Vancouver
            td V5M1Z8
        tr
            td 7688435
            td Muslim Food Bank Society
            td 235 - 11590 Cambie Rd
            td Richmond
            td V6X3Z5
        tr
            td 7688476
            td Yale First Nation
            td 314 Hudson Bay StreetPO Box 1869
            td Hope
            td V0X1L0
        tr
            td 7688500
            td St Aidan's Presbyterian Church
            td 1320 - 7th Avenue
            td New Westminster
            td V3M2K1
        tr
            td 7688856
            td Salvation Army - BC South Divisional HQ
            td 103 - 3833 Henning Dr
            td Burnaby
            td V5C6N5
        tr
            td 7688864
            td Reach Child & Youth Development Society
            td 5050 - 47th Ave
            td Ladner
            td V4K0C8
        tr
            td 7689011
            td Atira Women's Resource Society
            td 201 - 190 Alexander St
            td Vancouver
            td V6A1B5
        tr
            td 7689029
            td Atira Women's Resource Society
            td 201 - 190 Alexander St
            td Vancouver
            td V6A1B5
        tr
            td 7689045
            td Downtown Eastside Women's CentreAssociation
            td 302 Columbia Street
            td Vancouver
            td V6A4J1
        tr
            td 7689060
            td Moving Forward Family Services
            td 101 - 12827 76th Avenue
            td Surrey
            td V3W2V3
        tr
            td 7692502
            td John Howard Society of the LowerMainland of BC
            td 763 Kingsway
            td Vancouver
            td V5V3C2
        tr
            td 7692627
            td Langley Environmental Partners Society
            td 201-4839-221 Street
            td Langley
            td V3A2P1
        tr
            td 7693021
            td Chilliwack Community Services
            td 45938 Wellington Avenue
            td Chilliwack
            td V2P2C7
        tr
            td 7694383
            td Parish of St Barnabas
            td 1010 - 5th Avenue
            td New Westminster
            td V3M1Y5
        tr
            td 7694466
            td Sources Community Resources Society
            td 882 Maple Street
            td White Rock
            td V4B4M2
        tr
            td 7694482
            td Posabilities Association of BC
            td 240 - 4664 Lougheed Hwy
            td Burnaby
            td V5C5T5
        tr
            td 7694516
            td Sasamat Outdoor Centre
            td 3302 Senkler Road
            td Belcarra
            td V3H4S3
        tr
            td 7694573
            td Seabird Island Band
            td PO Box 6502895 Chowat Road
            td Agassiz
            td V0M1A0
        tr
            td 7695455
            td National Zakat Foundation
            td 214 - 115 Matheson Blvd W
            td Mississauga
            td L5R3L1
        tr
            td 7695463
            td Collingwood Neighbourhood House
            td 5288 Joyce Street
            td Vancouver
            td V5R6C9
        tr
            td 7695497
            td Sea to Sky Community Services Society
            td 38024 Fourth Ave
            td Squamish
            td V8B0A7


        tr
            td 7695646
            td Chilliwack Bowls of Hope Society
            td 45914 Rowat Ave
            td Chilliwack
            td V2P1J3
        tr
            td 7695653
            td YMCA of Greater Vancouver
            td 10 - 620 Royal Ave
            td New Westminster
            td V3M1J2
        tr
            td 7696834
            td Access Youth Outreach Services Society
            td 6 - 2601 Lougheed Hwy
            td Coquitlam
            td V3C4J2
        tr
            td 7696933
            td Maple Ridge / Pitt Meadows CommunityServices
            td 22718 Lougheed Highway
            td Maple Ridge
            td V2X2V6
        tr
            td 7696941
            td Vancouver Aboriginal Friendship CentreSociety
            td 1607 East Hastings Street
            td Vancouver
            td V5L1S7
        tr
            td 7697204
            td Tri-City Transitions Society
            td 402 - 2071 Kingsway Ave
            td Port Coquitlam
            td V3C6N2
        tr
            td 7697212
            td Ray-Cam Community Association
            td 920 E Hastings St
            td Vancouver
            td V6A3T1
        tr
            td 7697253
            td Strathcona Community Centre Association
            td 601 Keefer Street
            td Vancouver
            td V6A3V8
        tr
            td 7697337
            td Westcoast Family Centres Society
            td 220 - 2010 East 48th Avenue
            td Vancouver
            td V5P1R8
        tr
            td 7697345
            td Westcoast Family Centres Society
            td 220 - 2010 East 48th Avenue
            td Vancouver
            td V5P1R8
        tr
            td 7697477
            td Watari Research Association
            td 200 - 678 E Hastings St
            td Vancouver
            td V6A1R1
        tr
            td 7712904
            td Lazarus Community Society
            td 208-165 West 4th Ave
            td Vancouver
            td V5Y1G4
        tr
            td 7712938
            td New Westminster Family Place Society
            td 101 - 93 Sixth St
            td New Westminster
            td V3L2Z8
        tr
            td 7713100
            td Canadian-Iranian Foundation
            td PO Box 91231
            td West Vancouver
            td V7V3N6

        tr
            td 7713266
            td Elizabeth Fry Society of GreaterVancouver
            td 201 - 93 Sixth St
            td New Westminster
            td V3L2Z8
        tr
            td 7715667
            td Network of Inner City CommunityServices Society
            td 200 - 739 Gore Avenue
            td Vancouver
            td V6A2Z9
        tr
            td 7715691
            td Network of Inner City CommunityServices Society
            td 200 - 739 Gore Avenue
            td Vancouver
            td V6A2Z9
        tr
            td 7716491
            td Quest Outreach Society
            td 2020 Dundas St
            td Vancouver
            td V5L1J4

        tr
            td 7727274
            td School District 34 - Abbotsford
            td 2790 Tims St
            td Abbotsford
            td V2T4M7
        tr
            td 7727282
            td Kinghaven Peardonville House Society
            td 31250 King Road
            td Abbotsford
            td V2S1M3
        tr
            td 7727308
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7727316
            td Phoenix Drug & Alcohol Recovery &Education Society
            td 13686 - 94 A Ave
            td Surrey
            td V3V1N1

        tr
            td 7727407
            td Jewish Community Centre of GreaterVancouver
            td 950 41 Ave W
            td Vancouver
            td V5Z2N7

        tr
            td 7727449
            td Archway Community Services
            td 2420 Montrose Avenue
            td Abbotsford
            td V2S3S9
        tr
            td 7727456
            td Burnaby Neighbourhood HouseSociety
            td 4460 Beresford St
            td Burnaby
            td V5H0B8
        tr
            td 7727480
            td Sources Community Resources Society
            td 882 Maple Street
            td White Rock
            td V4B4M2
        tr
            td 7728009
            td Mission Community Services Society
            td 33179 - 2nd Avenue
            td Mission
            td V2V1J9
        tr
            td 7735707
            td Alexandra Neighbourhood House
            td 2916 McBride Avenue
            td Surrey
            td V4A3G2
        tr
            td 7738297
            td 5 and 2 Ministries CommunityDevelopment and Support Services Soc
            td 1-2220 McKenzie Rd
            td Abbotsford
            td V2S0E2
        tr
            td 7740350
            td Capilano Community Services Society
            td Delbrook Community Ctr North600 West Queens Road
            td North Vancouver
            td V7N2L3
        tr
            td 7741812
            td United Way Southern Vancouver Island
            td 201 - 633 Courtney St
            td Victoria
            td V8W1B9
        tr
            td 7749641
            td North Shore Connexions Society
            td 1070 Roosevelt Crescent
            td North Vancouver
            td V7P1M3
        tr
            td 7749658
            td Fraser Region Aboriginal FriendshipCentre Association
            td A101 - 10095 Whalley Boulevard
            td Surrey
            td V3T4G1
        tr
            td 7749682
            td Sea to Sky Community Services Society
            td 38024 Fourth Ave
            td Squamish
            td V8B0A7
        tr
            td 7749708
            td Squamish Nation
            td PO Box 86131
            td North Vancouver
            td V7L4J5
        tr
            td 7751175
            td Hilltop House Support Society
            td 38146 Behrner Dr
            td Squamish
            td V8B0C8
        tr
            td 7751183
            td New View Society
            td 2050 Mary Hill Rd
            td Port Coquitlam
            td V3C2Z8
        tr
            td 7751191
            td Fleetwood Christian Reformed Church
            td 9165 - 160th Street
            td Surrey
            td V4N2X7
        tr
            td 7751209
            td MOSAIC
            td 5575 Boundary Rd
            td Vancouver
            td V5R2P9
        tr
            td 7751217
            td Burnaby Family Life Institute
            td 102 - 2101 Holdom Avenue
            td Burnaby
            td V5B0A4
        tr
            td 7751225
            td Squamish Senior Citizen Society
            td 38626 Cheery DriveSquamish
            td Squamish
            td V8B0W1

        tr
            td 7751241
            td Family Services of the North Shore
            td 203 - 1111 Lonsdale Ave
            td North Vancouver
            td V7M2H4
        tr
            td 7751258
            td City of Burnaby
            td 4949 Canada Way
            td Burnaby
            td V5G1M2
        tr
            td 7751266
            td North Shore Neighbourhood House
            td 225 2 St E
            td North Vancouver
            td V7L1C4
        tr
            td 7751274
            td Squamish Community Christmas Care
            td PO Box 375
            td Squamish
            td V0N3G0
        tr
            td 7751282
            td Immigrant Services Society of BC
            td 2610 Victoria Dr
            td Vancouver
            td V5N4L2
        tr
            td 7751290
            td Tri-City Transitions Society
            td 402 - 2071 Kingsway Ave
            td Port Coquitlam
            td V3C6N2
        tr
            td 7754203
            td Network of Inner City CommunityServices Society
            td 200 - 739 Gore Avenue
            td Vancouver
            td V6A2Z9
        tr
            td 7754260
            td BCIT - BC Institute of TechnologyFoundation
            td 3700 Willingdon Ave
            td Burnaby
            td V5G3H2
        tr
            td 7754278
            td Camosun College Foundation
            td 3100 Foul Bay Road
            td Victoria
            td V8P5J2

        tr
            td 7754336
            td Emily Carr Institute of Art & DesignFoundation
            td 1399 Johnston StreetGranville Island
            td Vancouver
            td V6H3R9
        tr
            td 7754344
            td Justice Institute of BC Foundation
            td 715 McBride Blvd
            td New Westminster
            td V3L5T4
        tr
            td 7754351
            td Kwantlen Polytechnic UniversityFoundation
            td 12666 - 72nd Avenue
            td Surrey
            td V3W2M8
        tr
            td 7754369
            td Langara College Foundation
            td Dept of College Advancement100 W 49 Ave
            td Vancouver
            td V5Y2Z6
        tr
            td 7754377
            td Nicola Valley Institute of Technology
            td 4155 Belshaw St
            td Merritt
            td V1K1R1

        tr
            td 7754401
            td University of Northern BC
            td 3333 University Way
            td Prince George
            td V2N4Z9
        tr
            td 7754419
            td University of British Columbia-Vanc
            td Ceremonies Office2029 West Mall
            td Vancouver
            td V6T1Z2
        tr
            td 7754427
            td University of the Fraser Valley
            td 33844 King Rd
            td Abbotsford
            td V2S7M8

        tr
            td 7754450
            td Urban Native Indian Education Society
            td 561 - 1959 Marine Dr
            td North Vancouver
            td V7P3G1
        tr
            td 7772452
            td Food Stash Foundation
            td 4653 Drummond Drive
            td Vancouver
            td V6R1E8
        tr
            td 7788011
            td Give a Better Life Foundation
            td 411- 55 Water Street
            td Vancouver
            td V6B1A1
        tr
            td 7788029
            td Immigrant Link Centre Society
            td 403 - 206 Therrien Street
            td Coquitlam
            td V3K4T1
        tr
            td 7790033
            td Launching Pad Addiction RehabilitationSociety
            td 980 - 160th Street
            td Surrey
            td V4A4W5

        tr
            td 7791320
            td Food Stash Foundation
            td 4653 Drummond Drive
            td Vancouver
            td V6R1E8

        tr
            td 7791452
            td Stream of Dreams Mural Society
            td 182 - 5489 Byrne Rd
            td Burnaby
            td V5J3J1
        tr
            td 7791460
            td W I N G S Fellowship Ministries
            td 501 - 104  1015 Columbia St
            td New Westminster
            td V3M6V3
        tr
            td 7791478
            td Elizabeth Fry Society of GreaterVancouver
            td 201 - 93 Sixth St
            td New Westminster
            td V3L2Z8
        tr
            td 7791486
            td Squamish Food Bank Society
            td PO Box 207
            td Garibaldi Highlands
            td V0N1T0
        tr
            td 7791494
            td Squamish Trails Society
            td PO Box 389-1002 Centennial Way
            td Squamish
            td V8B0A1
        tr
            td 7792369
            td Xolhemet Transition House SocietySardis BC
            td PO Box 25
            td Sardis
            td V2R1A5
        tr
            td 7792880
            td Pacific Community Church
            td 5337 - 180th Street
            td Surrey
            td V3S4K5
        tr
            td 7793003
            td Sea to Sky Community Services Society
            td 38024 Fourth Ave
            td Squamish
            td V8B0A7
        tr
            td 7793193
            td Network of Inner City CommunityServices Society
            td 200 - 739 Gore Avenue
            td Vancouver
            td V6A2Z9
        tr
            td 7795586
            td Sea to Sky Community Services Society
            td 1347 Aster St
            td Pemberton
            td V0N2L0
        tr
            td 7795776
            td Asian Canadian Benevolent Associatonfor the Elderly
            td 201 -- 427 Dunlevy Avenue
            td Vancouver
            td V6A3Y4
        tr
            td 7795784
            td MOSAIC
            td 5575 Boundary Rd
            td Vancouver
            td V5R2P9
        tr
            td 7796147
            td Vancouver Venture for Diversity Society
            td 909 - 945 Marine Dr
            td West Vancouver
            td V7T1A8
        tr
            td 7796287
            td Xolhemet Transition House SocietySardis BC
            td PO Box 25
            td Sardis
            td V2R1A5
        tr
            td 7796303
            td Lynn Valley Lions Club
            td 1055 Premier St
            td North Vancouver
            td V7J3T7
        tr
            td 7796311
            td City of Surrey
            td 13450 104 Ave
            td Surrey
            td V3T1V8
        tr
            td 7797251
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7797608
            td DRS Earthwise Society
            td 6400 3rd Avenue
            td Delta
            td V4K1B1
        tr
            td 7797624
            td AIDS Vancouver Society
            td 1101 Seymour St
            td Vancouver
            td V6B0R1
        tr
            td 7797640
            td Sources Community Resources Society
            td 882 Maple St
            td White Rock
            td V4B4M2
        tr
            td 7797665
            td Archway Community Services
            td 2420 Montrose Ave
            td Abbotsford
            td V2S3S9
        tr
            td 7797673
            td Burnaby Neighbourhood HouseSociety
            td 4460 Beresford St
            td Burnaby
            td V5H0B8
        tr
            td 7797707
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 7797723
            td Watari Research Association
            td 131 Dunlevy Ave
            td Vancouver
            td V6A3A4
        tr
            td 7798663
            td Generation to Generation Society
            td 1705 Bay Ave
            td Trail
            td V1R4B5
        tr
            td 7805211
            td School District 46 - Sunshine Coast
            td PO Box 220
            td Gibsons
            td V0N1V0
        tr
            td 7805625
            td Red Fox Healthy Living Society
            td 500 - 610 Main St
            td Vancouver
            td V6A2V3
        tr
            td 7808470
            td Collingwood Neighbourhood House
            td 5288 Joyce St
            td Vancouver
            td V5R6C9
        tr
            td 7808488
            td Chilliwack Community Services
            td 45938 Wellington Ave
            td Chilliwack
            td V2P2C7

        tr
            td 8124547
            td Laichwiltach Family Life Society
            td 441 4 Ave
            td Campbell River
            td V9W3W7


        tr
            td 8124679
            td Seabird Island Band
            td PO Box 6502895 Chowat Road
            td Agassiz
            td V0M1A0
        tr
            td 8504615
            td North Okanagan Friendship Centre Society
            td 2904 29 Avenue
            td Vernon
            td V1T1Y7

        tr
            td 8851305
            td Watari Research Association
            td 200 - 678 E Hastings St
            td Vancouver
            td V6A1R1
        tr
            td 8865727
            td Salvation Army Kelowna Community Church
            td 1480 Sutherland Ave
            td Kelowna
            td V1Y5Y5
        tr
            td 9063868
            td Skeetchestn Indian Band
            td PO BOX 178
            td SAVONA
            td V0K2J0
        tr
            td 9063884
            td Salvation Army - BC South Divisional HQ
            td 103 - 3833 Henning Dr
            td Burnaby
            td V5C6N5
        tr
            td 9063900
            td Community Connections Societyof Southeast BC
            td 209A 16 Ave N
            td Cranbrook
            td V1C5S8
        tr
            td 9063983
            td SPARC BC Society
            td 4445 Norfolk St
            td Burnaby
            td V5G0A7

        tr
            td 9064866
            td Nakusp Child Care Society
            td Box 285200 8th Ave
            td Nakusp
            td V0G1R0
        tr
            td 9150350
            td 100 Mile House Food Bank Society
            td BOX 2350
            td 100 Mile House
            td V0K2E0
        tr
            td 9150475
            td North Okanagan Friendship Centre Society
            td 2904 29 Avenue
            td Vernon
            td V1T1Y7
        tr
            td 9150848
            td Boys & Girls Club - Okanagan
            td 1434 Graham Street
            td Kelowna
            td V1Y9H2


        tr
            td 9152034
            td Sea to Sky Community Services Society
            td 38024 Fourth Ave
            td Squamish
            td V8B0A7
        tr
            td 9152232
            td Lillooet Friendship Centre Society
            td 357 Main StreetBox 2170
            td Lillooet
            td V0K1V0
        tr
            td 9152372
            td School District 22 - Vernon
            td 1401 15th St
            td Vernon
            td V1T8S8
        tr
            td 9152406
            td Central Okanagan Community Food BankSociety
            td 2310 Enterprise Way
            td Kelowna
            td V1X4H7
        tr
            td 9153198
            td Cariboo Family Enrichment Society
            td 1-486 Birch AvenuePO Box 2427
            td 100 Mile House
            td V0K2E0
        tr
            td 9153214
            td School District 73 - Kamloops -Thompson
            td 1383 Ninth Ave
            td Kamloops
            td V2C3X7
        tr
            td 9154048
            td Okanagan College Foundation
            td 1000 Klo Rd
            td Kelowna
            td V1Y4X8
        tr
            td 9154550
            td The Equality Project Society
            td 1260 Stage RoadPO Box 52
            td Cache Creek
            td V0K1H0
        tr
            td 9154659
            td Salvation Army - BC South Divisional HQ
            td 103 - 3833 Henning Dr
            td Burnaby
            td V5C6N5
        tr
            td 9167693
            td Gordon Neighbourhood House
            td 1019 Broughton St
            td Vancouver
            td V6G2A7

        tr
            td 9268517
            td Elizabeth Fry Society - South Cariboo -Ashcroft
            td PO Box 603
            td Ashcroft
            td V0K1A0

        tr
            td 9328808
            td Kitselas First NationPatsy Drummond
            td 2225 Gitaus Road
            td Terrace
            td V8G0A9
        tr
            td 9371295
            td Learning Disabilities Society of GreaterVancouver
            td 3292 E Broadway
            td Vancouver
            td V5M1Z8
        tr
            td 9376369
            td Cowichan Green Community Foundation
            td 360 Duncan St
            td Duncan
            td V9L3W4
        tr
            td 9376450
            td Seabird Island Band
            td PO Box 6502895 Chowat Road
            td Agassiz
            td V0M1A0
        tr
            td 9384678
            td Bella Coola ValleySustainable Agricultural Society
            td PO Box 326
            td Bella Coola
            td V0T1C0
        tr
            td 9384694
            td Hope Community Services
            td PO Box 74234 Wallace Street
            td Hope
            td V0X1L0
        tr
            td 9406893
            td Wilp GwininitxwLand and Resource Management Society
            td Box 4New Hazelton
            td New Hazelton
            td V0J2J0
        tr
            td 9407339
            td Canadian Mental Health Associationkerrilyn briggs
            td 3178 2nd2nd Ave
            td Port Alberni
            td V9Y4C3
        tr
            td 9433459
            td South Vancouver Neighbourhood House
            td 6470 Victoria Dr
            td Vancouver
            td V5P3X7
        tr
            td 9433475
            td The Afghan Canadian Association of BC
            td 202-6990 Watham Ave
            td Burnaby
            td V5J4V5

        tr
            td 9433517
            td Intential Acts of Kindness Foundation
            td 203-815 Hornby Street
            td Vancouyver
            td V6Z2E6




        tr
            td 9437435
            td Special Olympics BC
            td 210 - 3701 Hastings St
            td Burnaby
            td V5C2H6
        tr
            td 9437450
            td Communities in Faith Pastoral Charge
            td 1300 Pine Ave
            td Trail
            td V1R4E6
        tr
            td 9437476
            td West Kootenay/Boundary AIDSNetwork Outreach Support Society
            td 101 Baker St
            td Nelson
            td V1L4H1


        tr
            td 9437716
            td Spark Society for Youth
            td 250 Howard Street
            td Kimberley
            td V1A2G7
        tr
            td 9437740
            td Community Connections Societyof Southeast BC
            td 209A - 16th Avenue North
            td Cranbrook
            td V1C5S8
        tr
            td 9437807
            td Community Connections Societyof Southeast BC
            td 209A - 16th Avenue North
            td Cranbrook
            td V1C5S8
        tr
            td 9437880
            td Cranbrook Boys' and Girls' Club
            td 1404 - 2nd Street North
            td Cranbrook
            td V1C3L2

        tr
            td 9437914
            td Penticton Recovery Resource Society
            td 1296 Main St
            td Penticton
            td V2A5G2
        tr
            td 9437930
            td Canadian Mental Health Association -Vernon and District Branch
            td 3100 - 28th Avenue
            td Vernon
            td V1T1W3
        tr
            td 9437948
            td MakeWay Charitable Society
            td 400 - 163 W Hastings St
            td Vancouver
            td V6B1H5

        tr
            td 9437963
            td Kelowna Gospel Mission
            td PO Box 22087 Capri PO
            td Kelowna
            td V1Y9N9
        tr
            td 9437971
            td Connect Counselling & Therapy SocietyFormally Kelowna Family Centre Society
            td 347 Leon Ave 204
            td Kelowna
            td V1Y8C7


        tr
            td 9438151
            td MakeWay Charitable Society
            td 400 - 163 W Hastings St
            td Vancouver
            td V6B1H5
        tr
            td 9438235
            td Beaver Vallley Youth Action Network
            td PO BOX 370
            td Fruitvale
            td V0G1L0
        tr
            td 9438268
            td Trail Associaiton for Community Living
            td 1565 Bay Ave
            td Trail
            td V1R4B2
        tr
            td 9438763
            td Braintrust Canada Association
            td 11 - 368 Industrial Ave
            td Kelowna
            td V1Y7E8
        tr
            td 9438789
            td Cdn Mental Health Association - Kelowna
            td 504 Sutherland Avenue
            td Kelowna
            td V1Y5X1
        tr
            td 9438797
            td Cdn Mental Health Association - SOkanagan / Similkameen
            td 825 Westminster Avenue West
            td Penticton
            td V2A1L1
        tr
            td 9438805
            td Elizabeth Fry Society of CentralOkanagan
            td 280 - 1855 Kirschner Rd
            td Kelowna
            td V1Y4N7
        tr
            td 9438813
            td Central Okanagan Emergency ShelterSociety
            td Box 20193 RPO Towne Centre
            td Kelowna
            td V1Y9H2
        tr
            td 9438821
            td Central Okanagan Community Food BankSociety
            td 2310 Enterprise Way
            td Kelowna
            td V1X4H7
        tr
            td 9438847
            td Central Okanagan Region NutritionSociety
            td 400 Eastbourne Rd
            td Kelowna
            td V1X6C5
        tr
            td 9438854
            td Childhood Connections - Okanagan Family& Childcare Society
            td 4 - 1890 Ambrosi Road
            td Kelowna
            td V1Y4R9
        tr
            td 9449919
            td Community Connections Revelstoke Society
            td 416 Second Street WestPO Box 2880
            td Revelstoke
            td V0E2S0

        tr
            td 9449935
            td Community Recreational InitiativesSociety
            td PO Box 25141 Mission Park RPO
            td Kelowna
            td V1W3Y7
        tr
            td 9449943
            td Kelowna Family Service Centre Society
            td 200 - 595 Klo  Road
            td Kelowna
            td V1Y8E7

        tr
            td 9449968
            td Dragonfly Pond Family Society
            td PO Box 24077
            td Penticton
            td V2A8L9

        tr
            td 9449992
            td Resurrection Recovery Resource Society
            td 1279 Centennial Cres
            td Kelowna
            td V1Y6K3
        tr
            td 9450016
            td John Howard Society of S Okanagan /Kootenay
            td 2 - 1441 St Paul St
            td Kelowna
            td V1Y2E4
        tr
            td 9450024
            td John Howard Society of S Okanagan /Kootenay
            td 2 - 1441 St Paul St
            td Kelowna
            td V1Y2E4
        tr
            td 9450032
            td Hope for the Nations
            td 222 - 1889 Springfield Rd
            td Kelowna
            td V1Y5V5
        tr
            td 9450065
            td Karis Support Society
            td 550 Rowcliffe Ave
            td Kelowna
            td V1Y5Y9
        tr
            td 9450073
            td Kelowna & District S H A R E Society
            td PO Box 1509 Station A
            td Kelowna
            td V1Y7V8
        tr
            td 9450081
            td Kelowna Gospel Mission
            td PO Box 22087 Capri PO
            td Kelowna
            td V1Y9N9
        tr
            td 9450107
            td Launch Community Develoment Foundation
            td PO Box 29010 RPO
            td Kelowna
            td V1W4A7
        tr
            td 9450131
            td Literacy Society of the NorthOkanagan
            td 4705A 29th Street
            td Vernon
            td V1T5C1


        tr
            td 9450180
            td Boys & Girls Club - Okanagan
            td 1434 Graham Street
            td Kelowna
            td V1Y9H2
        tr
            td 9450198
            td OneSky Community Resources Society
            td 330 Ellis St
            td Penticton
            td V2A4L7


        tr
            td 9534298
            td The Corporation of the Village ofWarfield
            td 555 Schofield Hwy
            td Trail
            td V1R2G7
        tr
            td 9570029
            td Yellowhead Community Services
            td 612 Park Drive
            td Clearwater
            td V0E1N1

    tfoot
        tr
            th Account
            th Name
            th Address
            th City
            th Postal Code