table#datatablesSimple
    thead
        tr
            th Location
            th Confidence Level
            th No of Food Hub
    tbody
        tr
            td Richmond
            td 82.46% 
            td 2
        tr
            td Vancouver
            td 70.46% 
            td 1
        tr
            td Langley
            td 52.46% 
            td 1
        tr
            td Burnaby
            td 32.46% 
            td 1
    tfoot
        tr
            th Location
            th Confidence Level
            th No of Food Hub