table#datatablesSimple
    thead
        tr
            th Survey ID
            th Survey Question
            th Start Date
            th End Date
            th Response
            th Total Request
            th Ratio
            th Action
    tbody
        tr
            td S20201202
            td How do you feel about the new location ?
            td 15-Feb-2022
            td 15-Mar-2022
            td 124
            td 256
            td 50%
            td 
                a.btn.btn-secondary(href='#' onclick="let element = document.getElementById('chartArea');element.style.display='';setTimeout(()=>element.scrollIntoView(false), 100)") View
        tr
            td S20201204
            td Quality of distribution agency in Richmond area
            td 15-Mar-2022
            td 15-Apr-2022
            td 24
            td 126
            td 25%
            td 
                a.btn.btn-secondary(href='#' onclick="let element = document.getElementById('chartArea');element.style.display='';setTimeout(()=>element.scrollIntoView(false), 100)") View
    tfoot
        tr
            th Survey ID
            th Survey Question
            th Start Date
            th End Date
            th Response
            th Total Request
            th Ratio
            th Action